// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.my-card-deck {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.my-card-deck:hover > .card:not(:hover) {
    filter: blur(4px);
    background: rgba(50, 50, 50,0.5);
    img {
      filter: brightness(50%);
    }
  }

.card-shadow {
  box-shadow: 1px 1px 12px 4px rgba(100, 100, 100, .2);
}

.banner {
  margin-left: calc(-100vw / 2 + 1110px / 2);
  margin-right: calc(-100vw / 2 + 1110px / 2);
  height: 80%;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.margin-top-negative {
  margin-top: -75px;
}

.light-boxshadow {
  box-shadow: 1px 1px 8px 4px rgba(180, 180, 180, .2);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .my-card-deck {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .my-card-deck {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .my-card-deck {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .my-card-deck {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .my-card-deck {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
